img {
    display: block;
  }
  
  div {
    padding: 20px;
  }
  
  #image{
    max-width: 100%;
    height: auto;
  }
  
  div#tribute-info {
    display: flex;
    justify-content: center;
    max-width: 1000px;
  }